.btn {
    min-width: 75px;
}


input {
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 6px;
    border-radius: 6px;
}

input:focus {
    outline: none;
}

textarea {
    resize: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    width: 100%;
    background-color: #e6e6e6;
    padding: 15px;
}

textarea:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.light {
    color: #777;
}

.dashboard-post {
    padding: 5px 15px;
    margin: 2px 15px;
    cursor: hand;
}

.dashboard-post-new-tweet {
    padding: 0;
}

.tweet {
    color: #333;
    background-color: #e6e6e6;
    padding: 15px;
}

.tweet:hover {
    color: #111;
    background-color: #ddd;
    transition: .5s;
}

.tweet > p {
    word-wrap: break-word;
}

.tweet-box {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.no-padding {
    padding: 0;
}

.spacer {
    display: inline-block;
    min-height: 6vh;
}

#tweet-error-message {
    color: maroon;
}

.pad {
    padding: 5px;
}